/*
Demo CSS*/


    div {
      height: 200px;
      width: 200px;
    }

    p {
      margin: 0;
    }

    #first {
      background-color: rgb(36, 127, 131);
      padding: 20px;
      border: 10px solid black;
    }

    #second {
      background-color: rgb(174, 161, 87);
      border: solid black;
      border-width: 20px 10px;
      margin-left: 260px;
    }

    #third {
      background-color: rgb(66, 10, 10);
      border: 10px solid black;
      margin-left: 40px;
    }